{{define "dashboard"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gondor</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    </head>
    <body>
        <div class="container">
            {{template "header" .}}

            {{range .Messages}}
                <div class="card">
                    <div class="card-content">
                        <p class="title">{{.DAG}}</p>
                        <p class="subtitle">{{.Done}}</p>
                        <p class="subtitle">{{.Running}}</p>
                        <p class="subtitle">{{.Total}}</p>
                        <progress class="progress is-link" value="80" max="100">30%</progress>
                    </div>
                </div>
            {{end}}
            <pre>{{.Messages}}</pre>
        </div>
    </body>
{{end}}